<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>LITReview</title>

    {% load static %}

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'base/css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'base/css/style_headernav.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'base/css/style_flux.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'base/css/style_follow.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'base/css/style_ticket.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'base/css/style_review.css' %}" />
</head>

<body>

    <header class="main-head">
        <div class=content_title>
            <div class="main_title">LITReview</div>
        </div>
        <div class="content_nav">
            <a href="/flux/">Flux</a>
            <a href="/flux/myposts">Posts</a>
            <a href="/abonnements/">Abonnements</a>
            <a href="?action=logout">Se déconnecter</a>
        </div>
    </header>


    {% block content %}{% endblock %}


</body>

</html>