{% extends 'base/base.html' %}

{% block content %}

<div class="create_critic_title">
    Créer une critique
</div>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="create_critic_container">
        <div class="create_critic_content">
            <div class="create_critic_subtitle">Livre / article</div>
            {{ form_ticket.as_p }}
        </div>
    </div>
    <div class="create_critic_container">
        <div class="create_critic_content">
            <div class="create_critic_subtitle">Critique</div>
            {{ form_review.as_p }}
            <input type="submit" value="Envoyer">
        </div>
    </div>
</form>

{% endblock %}