<div class="review_date_user">
    <div class="review_user"> {{review.user}} a publié une critique</div>
    <div class="review_date">{{review.time_created}}</div>
</div>

<div class="review_title_rating">
    <div class="review_title"> {{review.headline}}</div>
    <div class="review_rating">
        {% for i in '01234'|make_list %}
        {% if review.rating >= forloop.counter %}
        &#9733
        {% else %}
        &#9734
        {% endif %}
        {% endfor %}
    </div>
</div>


<div class="review_body">
    {{review.body}}
</div>

<div class="review_ticket_container">
    <div class="review_ticket_user">
        Ticket - {{review.ticket.user}}
    </div>
    <div class="review_ticket_title">
        {{review.ticket.title}}
    </div>
    {% if review.ticket.image %}
    <div class="ticket_image">
        <img class="ticket_image" src="{{review.ticket.image.url}}">
    </div>
    {% endif %}
</div>