{% extends 'base/base.html' %}

{% block content %}

{% if messages %}
{% for message in messages %}
<ul class="messages">
    {{message}}
</ul>
{% endfor %}
{% endif %}

<div class="your_posts_title">
    Vos posts
</div>

{% for post in posts %}
<div class="container_post">

    <div class=post>
        {% if post.content_type == 'TICKET' %}
        {% include 'critics/ticket.html' with ticket=post %}
        <div class="container_button_review">
            <form action="{% url 'update_ticket' pk=post.pk %}">
                <input type="submit" value="Modifier ticket" />
            </form>
            <form action="{% url 'del_ticket' ticket=post.pk %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Supprimer">
            </form>
        </div>
        {% elif post.content_type == 'REVIEW' %}
        {% include 'critics/review.html' with review=post %}
        <div class="container_button_review">
            <form action="{% url 'update_review' pk=post.pk %}">
                <input type="submit" value="Modifier critique" />
            </form>
            <form action="{% url 'del_review' review=post.pk %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Supprimer">
            </form>

            {% endif %}
        </div>
    </div>
</div>
{% endfor %}


{% endblock %}