{% extends 'base/base.html' %}

{% block content %}

<h3>Bienvenue {{user}} !</h3>
<a href="?action=logout">Log out</a>
<p>Vos posts</p>

{% if messages %}
{% for message in messages %}
<ul class="messages">
    {{message}}
</ul>
{% endfor %}
{% endif %}

{% for post in posts %}
{% if post.content_type == 'TICKET' %}
{% include 'critics/ticket.html' with ticket=post %}
<form action="{% url 'del_ticket' ticket=post.pk %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Supprimer">
</form>

{% elif post.content_type == 'REVIEW' %}
{% include 'critics/review.html' with review=post %}
<form action="{% url 'del_review' review=post.pk %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Supprimer">
</form>

{% endif %}
{% endfor %}


{% endblock %}