{% extends 'base/base_login.html' %}

{% block content %}

{% if messages %}
{% for message in messages %}
<div class="messages">
    {{message}}
</div>
{% endfor %}
{% endif %}

<div class="container_login">
    <div class="block_inscription">
        <div class="block_title">
            Inscrivez-vous maintenant
        </div>
        <div class="block_content">
            <form action="../register">
                <input type="submit" value="S'inscrire" />
            </form>
        </div>
    </div>

    <div class="block_login">
        <div class="block_title">
            Connexion
        </div>
        <div class="block_content">
            <form method="post">{% csrf_token %}
                {{ form.as_p }}
                <div class="button_right">
                    <input type="submit" value="Se connecter">
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}